name: Build

on:
  push:
    paths-ignore:
      - .github/**
      - .idea/**
      - .gitignore
      - CHANGELOG.md
      - README.md
  pull_request:
    paths-ignore:
      - .github/**
      - .idea/**
      - .gitignore
      - CHANGELOG.md
      - README.md
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Get Java Version
        id: java_version
        run: echo "version=$(grep '^javaVersion=' gradle.properties | cut -d'=' -f2)" >> $GITHUB_OUTPUT

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ steps.java_version.outputs.version }}

      - name: Gradle Cache
        uses: actions/cache@v4
        with:
          path: "**/.gradle/repositories/"
          key: "${{ runner.os }}-gradle-${{ hashFiles('**/libs.versions.*', '**/*.gradle*', '**/gradle-wrapper.properties') }}"
          restore-keys: "${{ runner.os }}-gradle-"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

      - name: Run Gradle build
        run: ./gradlew build
        shell: bash

      - uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
